<div class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="user-menu">
                    <ul>
                        <li ng-repeat="item in usernav"><a href="{{item.href}}"><i class="fa" ng-class="item.icon"></i>{{item.text}}</a></li>
                        <li ng-show="login"><a href="logout.html"><i class="fa fa-sign-out"></i>Logout</a></li>
                        <li ng-show="!login"><a href="login.html"><i class="fa fa-sign-in"></i>Login</a></li>
                    </ul>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="header-right">
                    <ul class="list-unstyled list-inline">
                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Currency:</span> <span class="value">{{selectedCurrency}} </span><b class="fa fa-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="item in currencies"><a href="#" ng-click="currencySelection(item.currency, this)">{{item.currency}}</a></li>
                            </ul>
                        </li>

                        <li class="dropdown dropdown-small">
                            <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key">Language:</span> <span class="value">{{selectedLanguage}} </span><b class="fa fa-angle-down"></b></a>
                            <ul class="dropdown-menu">
                                <li ng-repeat="item in languages"><a href="#" ng-click="languageSelection(item.language)">{{item.language}}</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="site-branding-area">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="logo">
                    <h1><a href="index.html">e<span>Electronics</span></a></h1>
                </div>
            </div>
            
            <div class="col-sm-6">
                <div class="shopping-item">
                    <a href="cart.html">Cart - <span class="cart-amunt">{{cart.totalPrice}}</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">{{cart.totalItems}}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-menu"></i>
                </button>
            </div> 
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="item in menu" ng-class="{active: isActive(item.href)}"><a href="{{item.href}}">{{item.text}}</a></li>
                </ul>
            </div>  
        </div>
    </div>
</div>